body { 
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:cover;
  background-color: black;
    font-family: sans-serif;
    padding: 20px;
  }

  h1, .h1 {
  font-size: 36px;
  }
  
  h2 {
  font-size: 28px;
  color: rgb(0, 0, 0);
  }

  h3 {
  font-size: 20px;
  }

  p {
  font-size: 12px;
  }
  
section h2 {
  border:2px solid rgb(80, 80, 80);
  border-radius: 10px;
}

h1, h2, h3, p, .h1 {
  text-align: center;
  }

button {
  border-radius: 10px;
}

.established {
  font-style: italic;
  }

.maintenance {
  font-style: italic;
  }

  header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
  }

  header * {
    display: flex;
    flex-direction: row;
  }
  
  header .headerWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  header > .headerWrapper > h1{
    flex: 1;
  }
  
  header > .headerWrapper > #nav-expand-button {
    flex: 0;
  }
  
  header #mainNav ul {
    gap: 1rem;
    flex-direction: column;
  }

  #mainNav {
    display: none;
  }
  
  #mainNav.open {
    display:flex;
    width: 100%;
    transition: all 0.3s;
  }
  
  #menuIcon {
    fill: rgb(0, 0, 0);
    font-size: 1rem;
    width: 2rem;
  }
  
  #nav-expand-button {
    height: 4rem;
    width: 4rem;
    padding: 1rem;
    aspect-ratio: 1/1;
    font-size: 2rem;
    background-color: grey;
;
  }
  
  .visually-hidden {
    height: 0;
    width: 0;
    overflow: hidden;
    font-size: 0px;
    display: none;
  }
  
  .sr-only {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    /* fixes issue with hidden text contrast */
    color: white;
    }

  .menu {
    width: 80%;
    /* changes menu background colour */
    background-color: rgb(216, 215, 215);
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 500px;
  }
  
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -50px;
  }
  
  hr {
    height: 2px;
    background-color: rgba(255, 0, 0, 0.5);
    border-color: black;
  }
  
  .bottom-line {
    margin-top: 25px;
  }
  
  h1, h2, h3, .h1 {
    font-family:'Courier New',Impact, serif;
    font-weight: bold;
  }

.item{
  display: flex;
  flex-direction: row;
}

  .item p {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
  }
  
  .package, .services {
    text-align: left;
    width: 75%;
  }
  
  .price {
    text-align: right;
    width: 25%;
    align-items: center;
  }

  .skip {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }

  .skip:focus {
    position: static;
    width: auto;
    height: auto;
  }

  textarea{
    display: flex;
    resize: none; 
    height: 7rem;
}

fieldset,
form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.radio-fieldset {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

  /* FOOTER */
  
  footer {
    font-size: 14px;
  }
  
  .address {
    margin-bottom: 5px;
  }
  
  a {
    color: black;
  }
  
  a:visited {
    color: black;
  }
  
  a:hover {
    color: red;
  }
  
  a:active {
    color: red;
  }